{% extends 'base.html' %}
{% block content %}
<br>
<br>
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>User Name</th>  
        <th>User Email</th>  
        <!--<th>User File</th>-->
        <th>Actions</th>
    </tr>  
    </thead>  
    <tbody>  
{% for user in users %}  
    <tr>  
        <td>{{ user.ename }}</td>  
        <td>{{ user.eemail }}</td> 
        <!--<td>{{ user.efile }}</td> --> 
        <td>  
            <a href="/edit/{{ user.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a href="/delete/{{ user.id }}">Delete</a>  
        </td>
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/usr" class="btn btn-primary">Add New Record</a></center>

<br><br>
<center>
  {% if users.has_other_pages %}
  <ul class="pagination">
    {% if users.has_previous %}
      <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in users.paginator.page_range %}
      {% if users.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if users.has_next %}
      <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</center>


{% endblock %}